@import '../../../base/css/base.less';

div.lowtea-menu {
    background-color: #222d32;
    padding: 0px;
    margin: 0px;
    border-top: 3px solid @green;
    height: 100%;
    color: white;

    .lowtea-user-panel {
        padding: 10px;

        .lowtea-headimg {
            max-width: 50px;
        }

        div.lowtea-menu-userinfo {
            padding-left: 10px;

            .lowtea-menu-username {
                .lowtea-show-username;
                margin-bottom: 9px;
            }

            .lowtea-menu-userintro {
                .lowtea-show-userintro;
                margin: 0px;
                font-size: @content-font-size;
            }
        }

        .lowtea-btn-new-page {
            margin: 5px 3px;
        }
    }

    ul.lowtea-menu-list {
        list-style-type: none;
        padding: 0px;
        margin: 0px;

        li {
            width: 100%;
            padding: 0px;

            a, a:hover {
                display: block;
                width: 100%;
                padding: 12px 5px 12px 15px;
                color: white;
                font-weight: 400;
                font-size: 14px;
                text-decoration: none;

                span {
                    width: 24px;
                }
            }
        }

        li:hover, li.active {
            background-color: white;

            a, a:hover {
                color: black;
            }
        }
    }
}