[submodule "server/src/gopkg.in/mgo.v2"]
	path = server/src/gopkg.in/mgo.v2
	url = git@github.com:go-mgo/mgo.git
[submodule "server/src/gopkg.in/kataras/iris.v4"]
	path = server/src/gopkg.in/kataras/iris.v4
	url = git@github.com:kataras/iris.git

[submodule "server/src/github.com/kataras/iris"]
	path = server/src/github.com/kataras/iris
	url = git@github.com:kataras/iris.git
[submodule "server/src/github.com/geekypanda/httpcache"]
	path = server/src/github.com/geekypanda/httpcache
	url = git@github.com:geekypanda/httpcache.git
[submodule "server/src/github.com/iris-contrib/formBinder"]
	path = server/src/github.com/iris-contrib/formBinder
	url = git@github.com:iris-contrib/formBinder.git
[submodule "server/src/github.com/iris-contrib/letsencrypt"]
	path = server/src/github.com/iris-contrib/letsencrypt
	url = git@github.com:iris-contrib/letsencrypt.git
[submodule "server/src/github.com/iris-contrib/lego"]
	path = server/src/github.com/iris-contrib/lego
	url = git@github.com:iris-contrib/lego.git
[submodule "server/src/github.com/iris-contrib/websocket"]
	path = server/src/github.com/iris-contrib/websocket
	url = git@github.com:iris-contrib/websocket.git
[submodule "server/src/github.com/kataras/go-errors"]
	path = server/src/github.com/kataras/go-errors
	url = git@github.com:kataras/go-errors.git
[submodule "server/src/github.com/kataras/go-fs"]
	path = server/src/github.com/kataras/go-fs
	url = git@github.com:kataras/go-fs.git
[submodule "server/src/github.com/kataras/go-options"]
	path = server/src/github.com/kataras/go-options
	url = git@github.com:kataras/go-options.git
[submodule "server/src/github.com/kataras/go-serializer"]
	path = server/src/github.com/kataras/go-serializer
	url = git@github.com:kataras/go-serializer.git
[submodule "server/src/github.com/kataras/go-sessions"]
	path = server/src/github.com/kataras/go-sessions
	url = git@github.com:kataras/go-sessions.git
[submodule "server/src/github.com/kataras/go-template"]
	path = server/src/github.com/kataras/go-template
	url = git@github.com:kataras/go-template.git
[submodule "server/src/github.com/kataras/go-websocket"]
	path = server/src/github.com/kataras/go-websocket
	url = git@github.com:kataras/go-websocket.git
[submodule "server/src/github.com/klauspost/compress"]
	path = server/src/github.com/klauspost/compress
	url = git@github.com:klauspost/compress.git
[submodule "server/src/github.com/klauspost/cpuid"]
	path = server/src/github.com/klauspost/cpuid
	url = git@github.com:klauspost/cpuid.git
[submodule "server/src/github.com/valyala/bytebufferpool"]
	path = server/src/github.com/valyala/bytebufferpool
	url = git@github.com:valyala/bytebufferpool.git
