@import '../../../base/css/base.less';

.lowtea-user-settings {
    padding: 10px;

    .lowtea-group-title {
        margin: 10px auto;
        width: 60%;
        border-bottom: 1px solid @cutline-color;

        h4 {
            margin: 10px 0px;
            padding: 0px 0px;
        }

        button {
            margin: 5px 5px;
            padding: 5px;
        }
    }
    
    .lowtea-user-info {
        width: 60%;
        margin: 0px auto;

        a.head-img {
            display: inline-block;
        }

        .show-text {
            height: 20px;
            padding: 6px 12px;
            font-size: 14px;
        }
    }

    .lowtea-password-modal {
        width: 70%;
        margin: 0px auto;
    }

    .input-error {
        border-color: #d9534f;
    }

    a.thumbnail.active {
        border-color: #428bca;
    }
}
