@import '../../../base/css/base.less';

.lowtea-markdown-editor {
    width: 100%;
    padding: 10px;

    textarea {
        width: 100%;
        min-height: 500px;
    }

    .CodeMirror {
        padding: 0px;
    }
}