.users_manager {
    padding: 10px;
    height: 100%;
    overflow-y: scroll;

    .lowtea-table {
        padding: 0px;
        margin: 0px 10px;
        box-sizing:border-box;
        -moz-box-sizing:border-box; /* Firefox */
        -webkit-box-sizing:border-box; /* Safari */
    }

    button {
        margin-right: 10px;
    }
}