// base
.lowtea-default-font {
    color: white;
}

.lowtea-show-username {
    font-weight: 600;
}

.lowtea-show-userintro {
    font-size: 11px;
}

@green: #55b070;
@cutline-color: #e5e5e5;

// app
body {
    background-color: white;
}

div.lowtea-menu {
    background-color: #222d32;
    padding: 0px;
    border-top: 3px solid @green;
    height: 100%;
    color: white;

    .lowtea-user-panel {
        padding: 10px;

        .lowtea-headimg {
            max-width: 50px;
        }

        div.lowtea-menu-userinfo {
            padding-left: 10px;

            .lowtea-menu-username {
                .lowtea-show-username;
                margin-bottom: 9px;
            }

            .lowtea-menu-userintro {
                .lowtea-show-userintro;
                margin: 0px;
            }
        }
    }

    ul.lowtea-menu-list {
        list-style-type: none;
        padding: 0px;
        margin: 0px;

        li {
            padding: 12px 5px 12px 15px;

            a, a:hover {
                color: white;
                font-weight: 400;
                font-size: 14px;
                text-decoration: none;

                span {
                    width: 24px;
                    height: 14px;
                }
            }
        }

        li:hover, li.active {
            background-color: white;

            a, a:hover {
                color: black;
            }
        }
    }
}

.lowtea-page-overview {
    padding: 0px;
    overflow-x: hidden;
    color: black;

    .page-list-container {
        .lowtea-searchbar {
            padding: 15px 20px;
            border-bottom: 1px solid @cutline-color;
        }

        h4 {
            padding: 10px 0px;
            border-bottom: 1px solid @cutline-color;
        }

        .page-list {
            padding: 0px 10px;
        }

    }
}