@import '../../../base/css/base.less';

.doc-side-shortcut {
    padding: 10px 10px;
    width: 100%;

    .doc-side-shortcut-title {
        margin: 0px;
    }

    .doc-side-shortcut-data {
        color: #767676;
        text-align: right;
    }

    .dropdown {
        button {
            color: @docbtn-color;
            margin: 0px 10px;
        }
    
        .dropdown-menu {
            left: auto;
            right: 0px;
        }
    }

}
